/* Basic styling */

@import url('https://fonts.bunny.net/css?family=barlow:400,500&display=swap');

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #d6caba;
  }
  
  header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
  }


  .back-primary{
    background-color: #d2b48c;
    color: #f4ece1;
  }
  .back-secondary{
    background-color: #f4ece1;
    color: #d2b48c;
  }

  footer{
    color: #707070;
    font-size: small;

  }
  hr{
    color: #707070;
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  button{
    background-color:  #d2b48c ;
  }
  .input-section {
    margin-right: 20px;
  }
  
  .transactions-list {
    flex: 1;
  }
  

  .bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #8e8e8e;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #a6c78766;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}

.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}

.hide{
  display: none;
}

.successmsg1{
  color: green;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}
.successmsg2{
  color: gray;
  font-size: x-small;
}